
.nav-item {
    font-size:18px;
    text-transform:uppercase;
    height:82px;
    line-height:35px;
  }
  .dropdown, .dropdown-center, .dropend, .dropstart, .dropup, .dropup-center {
    position: relative;
    right: 7.8%;
  } 
/* .dropdown-menu[data-bs-popper] {
  top: 100%;
  left: 0;
  right: 50%;
  margin-top: var(--bs-dropdown-spacer);
  
} */
  .flare {
    background:#ef662b;
  }
  .flare a.nav-link {
    color:#fff !important
  }
  .topbarElements > div:nth-of-type(1){
    font-size:48px;
    margin:12px 32px;
    color:#ef662b
  }
  @media screen and (min-width:1040px){
    .flare { margin-right:-15px; }
  }
  @media screen and (max-width:1029px){
    .navbar-nav {
      margin-bottom:15px;
      text-align:center
    }
    .nav-item {
      /* background : rgba(255,255,255,0.1); */
      margin:2px;
    }
  }

  .profile-img{
    width: 80px;
  }
  a.item-nav{
    padding-top: 20px;
  }
  button.twich-button{
    background-color: #9147ff;
    color:white;
  }
  button.twich-button:hover  {
    background-color: #782de9;
    color:white;
  }

  button.kick-button{
    background-color: #53fc16;
    color:white;
  }
  button.kick-button:hover  {
    background-color: #3ebb10;
    color:white;
  }